nav {
    height: 100%;
    background-color: silver;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        li {
            float: left;

            a {
                display: block;
                color: navy;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;

                &:hover {
                    background-color: salmon;
                }
            }
        }
    }
}
