.editor-container{
    width: 90%;
    border: 1px solid olive;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;

    input {
        width: 70%;;
    }

    button {
        width: 10%;;
    }
    
}