.node-container {
  text-align: center;
  border-radius: 25%;

  .key-container{
      font-size: 1em;
  }

  .children-container {
    display: flex;
    justify-items: center;
    justify-content: center;

    .left-node{
      width: 50%;
      background-color: yellow;
    }

    .right-node{
      width: 50%;
      background-color: magenta;
    }
  }
}
